@use './settings';

h1 {
  font-size: map-get(settings.$typography, h1, size);
  font-weight: map-get(settings.$typography, h1, weight);
  line-height: map-get(settings.$typography, h1, line-height);
  letter-spacing: map-get(settings.$typography, h3, letter-spacing);
}

h2 {
  font-size: map-get(settings.$typography, h2, size);
  font-weight: map-get(settings.$typography, h2, weight);
  line-height: map-get(settings.$typography, h2, line-height);
  letter-spacing: map-get(settings.$typography, h2, letter-spacing);
}

h3 {
  font-size: map-get(settings.$typography, h3, size);
  font-weight: map-get(settings.$typography, h3, weight);
  line-height: map-get(settings.$typography, h3, line-height);
  letter-spacing: map-get(settings.$typography, h3, letter-spacing);
}

h4 {
  font-size: map-get(settings.$typography, h4, size);
  font-weight: map-get(settings.$typography, h4, weight);
  line-height: map-get(settings.$typography, h4, line-height);
  letter-spacing: map-get(settings.$typography, h4, letter-spacing);
}

h5 {
  font-size: map-get(settings.$typography, h5, size);
  font-weight: map-get(settings.$typography, h5, weight);
  line-height: map-get(settings.$typography, h5, line-height);
  letter-spacing: map-get(settings.$typography, h5, letter-spacing);
}

h6 {
  font-size: map-get(settings.$typography, h6, size);
  font-weight: map-get(settings.$typography, h6, weight);
  line-height: map-get(settings.$typography, h6, line-height);
  letter-spacing: map-get(settings.$typography, h6, letter-spacing);
}

p {
  font-size: map-get(settings.$typography, body-1, size);
  font-weight: map-get(settings.$typography, body-1, weight);
  line-height: map-get(settings.$typography, body-1, line-height);
  letter-spacing: map-get(settings.$typography, body-1, letter-spacing);
}