@forward 'vuetify/settings' with (

////////
//// Adjust Vuetify default settings
///////
    
  // TYPOGRAPHY 
  $body-font-family: ('Open Sans', sans-serif),
  $heading-font-family: ('Open Sans', sans-serif),
  $typography: 
    (
      'h1': (
        'size': 3.052rem,
        'weight': 700,
        'line-height': 1.37em,
        'letter-spacing': -0.0083333333em,
      ),
      'h2': (
        'size': 2.441rem,
        'weight': 600,
        'line-height': 1.37em,
        'letter-spacing': normal,
      ),
      'h3': (
        'size': 1.953rem,
        'weight': 600,
        'line-height': 1.37em,
        'letter-spacing': 0.0073529412em,
      ),
      'h4': (
        'size': 1.563rem,
        'weight': 400,
        'line-height': 1.47em,
        'letter-spacing': normal,
      ),
      'h5': (
        'size': 1.25rem,
        'weight': 400,
        'line-height': 1.47em,
        'letter-spacing': 0.0125em,
      ),
      'h6': (
        'size': 1.2rem,
        'weight': 400,
        'line-height': 1.47em,
        'letter-spacing': 0.0125em,
      ),
      'subtitle-1': (
        'size': 1.2rem,
        'weight': 600,
        'line-height': 1.57em,
        'letter-spacing': normal,
      ),
      'subtitle-2': (
        'size': 1rem,
        'weight': 600,
        'line-height': 1.67em,
        'letter-spacing': 0.0125em,
      ),
      'body-1': (
        'size': 1rem,
        'weight': 400,
        'letter-spacing': 0.03125em,
        'line-height': 1.67em,
      ),
      'body-2': (
        'size': 0.875rem,
        'weight': 400,
        'letter-spacing': 0.0178571429em,
        'line-height': 1.67em,
      ),
      'caption': (
        'size': 0.75rem,
        'weight': 400,
        'letter-spacing': 0.0333333333em,
        'line-height': 1.47em,
      ),
      'overline': (
        'size': 0.625rem,
        'weight': 400,
        'letter-spacing': 0.1666666667em,
        'line-height': 1.47em,
      ),
    ),

  // DISPLAY
  $grid-breakpoints: 
    (
      'xs': 0,
      'sm': 415px,
      'md': 600px,
      'lg': 960px,
      'xl': 1264px,
      'xxl': 1800px,
    ),

  // BUTTON
  $button-plain-opacity: .77,

  // SWITCH
  $switch-thumb-height: 14px,
  $switch-thumb-width: 14px,
  $switch-track-width: 24px,
  $switch-thumb-offset: 0px,
  $switch-thumb-elevation: 0,
  $switch-control-input-transition: .30s,

);
