@forward 'vuetify/settings' with (
    
    // TYPOGRAPHY 
    $body-font-family: ('Open Sans', sans-serif),
    $heading-font-family: ('Open Sans', sans-serif),
    $typography: 
        (
          'h1': (
            'size': 5rem,
            'weight': 300,
            'line-height': 5rem,
            'letter-spacing': -.015625em,
            'text-transform': none
          ),
        ),

    // DISPLAY
    $grid-breakpoints: (
        'xs': 0,
        'sm': 415px,
        'md': 600px,
        'lg': 960px,
        'xl': 1264px,
        'xxl': 1800px,
      ),

);